body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color:white;
}

/* Header code */
.header {
    color: white;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

li, a {
    color: white;
    text-decoration: none;
}

/* Title code */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    font-size: 32px;
}

/* Intro code */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 600px;
}

.pic-of-darwin {
    margin: 30px;
    width: 680px;
    height: 680px;
}

/* Story code */
.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;;
}

/* Finches code */
.finches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;;
}
